//TO ADD OR CHANGE FONTS GO TO _fonts.scss

body {
  background: rgb(191,30,34);
  background: radial-gradient(circle, rgba(191,30,34,1) 0%, rgba(139,21,24,1) 100%);
  color: white;
}

.imagelanding {
  width: 350px;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 30px;
  animation: rotation 2s  linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#countdown {
  justify-content: center;
  font-family: 'Londrina Solid', cursive;
  color: #0E0000;
  font-weight: 50;
  font-weight: bolder; 
  font-size: 25px;
  padding-top: 55px;
}
