//TO ADD OR CHANGE FONTS GO TO _fonts.scss

body {
  background-color: #8d1618;
}

h1  {
  padding-bottom: 25px;
  font-size: 50px;
  font-weight: bold;
}

.imagelanding {
  width: 350px;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 30px;
  animation: rotation 2s  linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
