// Specific CSS for your home-page
.container { 
    text-align: center; 
    flex-basis: auto;
}

body {
    background-color: #8d1618;
}

p {
justify-content: center;
font-family: 'Londrina Solid', cursive;
padding-top: 50px;
font-size: 20px;
font-weight: bolder; 
}

button {
  border-radius: 20px;
  width: 250px;
  height: 75px;
  padding: 12px 28px

  }

h1  { 
    font-family: 'Londrina Solid', cursive;
    padding-bottom: 25px;
    font-size: 50px;
    font-weight: bold
}

.imagelanding {
  height: 300;
  width: 350px;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 30px;
//   padding-left:
}

footer {
    display: block;
    padding-bottom: 50px;
  }