h2 {
  justify-content: center;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  color: #0E0000;
  font-weight: 50;
  font-weight: bolder; 
}

.new_household {
    color: #fdc83c;
    justify-content: center;
    text-align: center;
    background-color: #242425;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
  }


