h2 {
  justify-content: center;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  color: #0E0000;
  font-weight: 50;
  font-weight: bolder;
  text-shadow: 2px 2px lightgrey;
  margin: 2px;
}

.house_hold {
    display: grid;
    justify-content: center;
}


.house_hold_cards{
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    background-color: #242425 ;
    border-radius: 15px;

    a{
        color:#fdc83c;
    }
}

.fa-trash {
  position: absolute;
  right: -20px;
  top: 35px;
  width: 100px;
  
}

.new_household {
  margin-bottom: 50px;
}
