h2 {
  justify-content: center;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  color: #0E0000;
  font-weight: 50;
  font-weight: bolder; 
}

.house_hold {
    display: grid;
    justify-content: center;
}


.house_hold_cards{
    margin: 15px;
    background-color: #242425 ;
    border-radius: 15px;

    a{
        color:#fdc83c;
    }
}