h2 {
    font-family: 'Londrina Solid', cursive;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 50px;
    font-weight: bold
}

.form-inputs {
    width: 250px;
    border-radius: 8px,
}

.container { 
    justify-content: center;
    display: grid;
}