.card-body {
  border: none;
//background-color:rgb(191,30,34);
 }

 .waiting-veto {
     margin-top : -30px;

 }

 .card-border {
     border:none;
     background-color:transparent;
 }

 .card-img-top {
    align-content: center;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    flex-shrink: 0;
    width: 100%;
    padding: 50px;
    padding-bottom: 2px;
}


 