h2 {
    font-family: 'Londrina Solid', cursive;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 50px;
    font-weight: bold
}

.form-inputs-sign-up {
    width: 250px;
    border-radius: 8px,
}

.sign-up-container {
    justify-content: center;
    display: grid;
}

