<div class="container">
  <div class="footer">
    <div class="row">
      <div class="col-12">
        <%= image_tag("https://res.cloudinary.com/djnfnwxgu/image/upload/v1599217974/deveto/comedy-horror_uvi5mb.png", :quality=>"auto:best", :width=>40, :crop=>"scale") %>
      </div>
    </div>
  </div>
</div>
