<nav class="navbar navbar-expand-lg navbar-custom  navbar-custom">
  <a class="navbar-brand" href="/">
    <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1599210319/deveto/deveto_logo_yellow_wqhhli.svg" alt="Danny DeVeto">
  </a>
  <button  class="navbar-toggler mx-1" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>

  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-0 pt-0">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
      <span class="navbar-text pl-1">
          <% if user_signed_in? %>
            <%= link_to 'Profile', edit_user_registration_path, class:"navbar-text" %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"navbar-text" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class:"navbar-text" %> |
            <%= link_to "Sign up", new_user_registration_path, class:"navbar-text" %>
      </span>
    <% end %>
  </div>
</nav>


