<div class="container">

<%= image_tag("StickerDanny.png", :alt => "DannyDeveto", :class => "imagelanding") %>

<h1>Randomize a Movie</h1>

<button type="button" class="btn btn-dark ">Let's Go!</button>

<p>SIGN UP FOR EXCLUSIVE
FEATURES, EV!L DEVETO, VETO FRIEND’S CHOICE, GET POINTS.</p>

<footer>
<i class="fas fa-ellipsis-h"></i>
</footer>

</div>
