.btn {
  color: #fdc83c;
  background-color: #343A3F;
  border-radius: 10px;
  font-size: 36px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.btn:hover {
  color: white;
}
