.StickerDanny {
  width: 100px;
}

.DannyDevetoZrazy {
  width: 100px;
}

.EvilDanny {
  width: 100px;
}

.start-game h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 24px;
   color: white;
}

.container {
   background-color: #8d1618;
   text-align: center;
}
