.navbar-custom {
  background-color:black;
}


.navbar-toggler {
  border: yellow;
}




//.bg-dark {
  //height: 80px;
//}

.navbar-brand {
  width: 170px;
}

//.navbar-foward {
  //z-index: 1000;
//}

