.navbar-custom {
  background-color:#242425;
}


.navbar-toggler {
  border: #FFC65A;
}

.fa-bars {
  color: #FFC65A;
  padding-top: 5px;
}

.navbar-brand {
  width: 170px;
}


.navbar-text{
 a {
  color: white;

} 
}
