.navbar {
  margin: 0px !important;
  padding: 0px !important;
  display: block;
  background-color: #242425;
}

.navbar-toggler {
  border: none;
}

//.bg-dark {
  //height: 80px; 
//}

.navbar-brand {
  padding-top: 15px;
  padding-left:10px;
}

//.navbar-foward {
  //z-index: 1000;
//}

