<div class="container">
  <div class="house_hold">
    <h2>Households</h2>
  </div>


  <div class="row justify-content-between">
  <% @households.each do |household| %>
    <div class="col-12">
      <div class="cards-household p-4 house_hold_cards" >
       <h3><%= link_to household.name, household_path(household) %></h3>
          <%= link_to household_path(household), method: :delete, data: { confirm: "Are you sure?"} do %>
            <i class="fas fa-trash trash-household-card"></i>
          <% end %>
      </div>
    </div>
     <% end %>
    <div class="container">
      <div class="house_hold">
     <%= link_to "Create Household", new_household_path, class: 'btn-vetto btn-secondary new_household'%>
     </div>
   </div>
  </div>
 </div>
