<div class="container">
  <div class="house_hold">
    <h2>Households</h2>
    <%= link_to "Create Household", new_household_path, class: 'btn btn-secondary new_household'%>
  </div>


  <div class="row justify-content-between">
  <% @households.each do |household| %>
    <div class="col-12">

  <div class="cards-household p-4 house_hold_cards" >
  
   <h2><%= link_to household.name, household_path(household) %></h2>
  </div>
 

    </div>
     <% end %>
  </div>
 </div>
