<h2>Create</h2>

<div class="household_form">
<%= simple_form_for @household do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn-vetto btn-secondary' %>
 <% end %>
 </div>

<div class="back_button">
  <%=  link_to "Back", households_path, class: 'btn-vetto btn-secondary m-3' %>
</div>

