<div class="container">
  <br>
  <!-- TODO _ MUST FIX TICKET-->
  <h2 style="color: white"><strong><%= @movie.title %></strong></h2>
  <br>
  <!-- TODO ADD MATH TO NEW DEF ON OTHER PAGE TO CREATE SCORE RULES AND ADD TO POINTS IF THEY CLICK 'WATCH' AND NOBODY VETOS -->
  <h3 style="color: lightgrey"><%= "This film will earn you #{10 - @movie.rating.to_i} imbd points" %></h3>
  <br>
  <!-- TODO 30 second timer, Javascript? -->
  <%= link_to "Watch now on Netflix", "https://www.netflix.com/watch/#{@movie.netflixid}", target: "_blank", class: "btn btn-large btn-primary" %>
  <br>
</div>

