<div class="show-household" style="text-align: center">
  <p>Leaderboard</p>
</div>

<div id="ready-to-play-button" style="text-align: center">
    <%=  link_to "Ready to Watch?", start_game_household_path(@household) %>
</div>

<div id="add-user-button" style="text-align: center">
  <p>ADD A USER TO HOUSEHOLD</p>
</div>

